HEADER {
  font-family: $font;
  background-color: $orange;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  DIV.hotbar {
    height: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 50px;
    grid-template-areas: 'search notifications menu settings logout';
    A {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $grey;
      &:hover {
        background-color: $grey;
        color: $orange;
      }
      &.active {
        background-color: $grey;
        color: $orange;
      }
    }
    .search {
      grid-area: search;
    }
    .notifications {
      grid-area: notifications;
    }
    .menu-button {
      grid-area: menu;
    }
    .user-settings {
      grid-area: settings;
    }
    .logout {
      grid-area: logout;
    }
  }
}

@media screen and (min-width: 720px){
  HEADER {
    DIV.hotbar {
      width: 250px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1100px){
  HEADER {
    top: 0;
    bottom: auto;
    width: calc(100% - 300px);
    left: 300px;
    right: 0;
    background-color: #FFF;
    border-bottom: 2px solid $orange;
    DIV.hotbar {
      margin-right: 0px;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 50px;
      grid-template-areas: 'search notifications settings logout';
      .menu-button {
        grid-area: menu;
        display: none;
      }
    }
  }
}
