DIV.message {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-areas: 'icon text remove';
  background-color: $grey;
  color: #FFF;
  z-index: 10;
  min-height: 50px;
  overflow-x: hidden;
  &.success {
    background-color: $green;
  }
  &:after {
    content: ' ';
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 5px;
    width: 100%;
  }
  &.hiding {
    &:after {
      left: 0;
      transition: 10s;
    }
  }
  DIV {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    grid-area: icon;
    font-size: 20px;
  }
  .text {
    grid-area: text;
  }
  .remove {
    grid-area: remove;
    cursor: pointer;
    &:hover {
      background-color: #FFF;
      color: $grey;
    }
  }
}

@media screen and (min-width: 1100px) {
  DIV.message {
    width: 300px;
    top: 60px;
    right: 0;
    font-size: 0.8em;
  }
}
