NAV {
  background-color: $grey;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: -100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  transition: 0.5s;
  &.open {
    bottom: 0;
    transition: 0.7s;
  }
  A.logo {
    text-decoration: none;
    display: block;
    text-align: center;
    IMG {
      width: 100px;
    }
  }

  UL.pages {
    list-style: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    LI {
      A {
        color: #FFF;
        text-decoration: none;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        display: block;
        background-color: $dark-grey;
        &:hover {
          color: $orange;
        }
        I {
          width: 30px;
          text-align: center;
        }
      }
      &:nth-child(even){
        A {
          background-color: $light-grey;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px){
  NAV {
    width: 300px;
    left: 0;
    bottom: 0;
    &.active {
      bottom: 0;
    }
  }
}
