DIV.page {
  width: calc(100vw - 300px);
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  left: 300px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 20px;
}
