.side-panel {
  position: fixed;
  top: 0;
  bottom: 50px;
  right: -100%;
  background-color: $grey;
  color: #FFF;
  width: 100%;
  z-index: 15;
  transition: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
  .panel-header {
    height: 50px;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-areas: 'title back';
    .close-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: back;
      color: $orange;
      text-decoration: none;
      &:hover {
        background-color: $orange;
        color: $grey;
      }
    }
    .title {
      display: flex;
      justify-content: left;
      align-items: center;
      grid-area: title;
      padding: 0px 10px;
    }
  }
  .panels {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    DIV {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &.left {
    right: 100%;
    I {
      display: none;
    }
    I.left {
      display: block;
    }
    .panel-header {
      grid-template-columns: 50px auto;
      grid-template-areas: 'back title';
      .title {
        justify-content: right;
      }
    }
    &.active {
      right: 0;
      transition: 0.7s;
    }
  }
  &.active {
    right: 0;
    transition: 0.7s;
  }
}

DIV.cover {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  z-index: 10;
  display: none;
  transition: 0.5s;
}

@media screen and (min-width: 720px){
  .side-panel {
    width: 50%;
    &.left {
      right: 100%;
    }
  }

  .side-panel.left.active {
    right: 50%;
  }

  DIV.cover.active {
    display: block
  }
}

@media screen and (min-width: 1100px){
  .side-panel {
    width: 300px;
    height: 100%;
    bottom: 0;
    &.left {
      right: -100%;
      I {
        display: block;
      }
      I.left {
        display: none;
      }
      .panel-header {
        grid-template-columns: auto 50px;
        grid-template-areas: 'title back';
        .title {
          justify-content: left;
        }
      }
    }
  }

  .side-panel.left.active {
    right: 0;
  }

  DIV.cover.active {
    display: block;
    bottom: 0;
    transition: 0.5s;
  }
}
