/* Variables for Circle-CMS */
$orange: #F26522;
$grey: #252525;
$dark-grey: #1F1F1F;
$light-grey: #363636;

$green: #00BB68;
$red: #FF3355;
$yellow: #FF9E00;

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

$font: 'Titillium Web', Arial;
