@import "variables";

BODY {
  background-color: #EFEFEF;
  font-family: $font;
  padding: 0;
  margin: 0;
}

.button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid $orange;
  color: $orange;
  border-radius: 5px;
  text-align: center;
  margin: 5px 0;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: $orange;
    border-color: #FFF;
    color: #FFF;
    transition: 0.5s;
  }
  &.cancel {
    color: $red;
    border-color: $red;
  }
  &.cancel:hover {
    color: #FFF;
    border-color: #FFF;
    background-color: $red;
  }
}

@import "header";
@import "navigation";
@import "side-panels";
@import "page";
@import "messages";
