@import "variables";

BODY {
  background-color: $grey;
  padding: 0;
  margin: 0;
  font-family: $font;
  color: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
}

.login {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  .logo{
    width: 100%;
    text-align: center;
    IMG {
      width: 150px;
      margin: 0 auto;
    }
  }
}

INPUT {
  border: 2px solid $orange;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  font-family: $font;
  font-size: 1.05em;
}

LABEL {
  margin: 10px 5% 0px 5%;
  display: block;
  INPUT {
    display: inline;
    width: auto;
  }
}

.ghost-button {
  color: $orange;
  background-color: transparent;
  font-size: 1.1em;
  padding: 10px 5px;
  cursor: pointer;
  margin: 10px auto;
}

.ghost-button:hover {
  background-color: $orange;
  color: #FFF;
  border-color: #FFF;
  transition: 0.5s;
}

A {
  color: $orange;
  text-decoration: none;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

A:hover {
  color: #FFF;
}

H1, H2, H3, H4, H5, H6 {
  text-align: center;
  margin: 10px 5%;
  padding: 0px;
}

@media screen and (min-width: 800px){
  .login {
    width: 700px;
    margin: 0 auto;
    left: 50%;
    display: grid;
    background-color: $dark-grey;
    padding: 10px;
    grid-template-columns: auto auto;
    grid-template-areas: 'logo form';
    transform: translate(-50%, -50%);
    .logo {
      grid-area: logo;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content {
      grid-area: form;
    }
  }

  LABEL {
    margin-left: 0;
  }

  INPUT {
    font-size: 0.9em;
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    margin-top: 0;
  }

  .ghost-button {
    font-size: 0.9em;
    width: 49%;
    display: inline-block;
  }

  A {
    width: 49%;
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .login {
    width: 500px;
  }

  .ghost-button {
    font-size: 0.9em;
    width: auto;
    display: inline-block;
    padding: 5px 20px;
  }

  A {
    width: auto;
    display: inline-block;
  }
}
