@import url(https://fonts.googleapis.com/css?family=Titillium+Web);/* Variables for Circle-CMS */

BODY {
  background-color: #EFEFEF;
  font-family: "Titillium Web", Arial;
  padding: 0;
  margin: 0;
}

.button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid #F26522;
  color: #F26522;
  border-radius: 5px;
  text-align: center;
  margin: 5px 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  background-color: #F26522;
  border-color: #FFF;
  color: #FFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button.cancel {
  color: #FF3355;
  border-color: #FF3355;
}

.button.cancel:hover {
  color: #FFF;
  border-color: #FFF;
  background-color: #FF3355;
}

HEADER {
  font-family: "Titillium Web", Arial;
  background-color: #F26522;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
}

HEADER DIV.hotbar {
  height: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 50px;
  grid-template-areas: 'search notifications menu settings logout';
}

HEADER DIV.hotbar A {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #252525;
}

HEADER DIV.hotbar A:hover {
  background-color: #252525;
  color: #F26522;
}

HEADER DIV.hotbar A.active {
  background-color: #252525;
  color: #F26522;
}

HEADER DIV.hotbar .search {
  grid-area: search;
}

HEADER DIV.hotbar .notifications {
  grid-area: notifications;
}

HEADER DIV.hotbar .menu-button {
  grid-area: menu;
}

HEADER DIV.hotbar .user-settings {
  grid-area: settings;
}

HEADER DIV.hotbar .logout {
  grid-area: logout;
}

@media screen and (min-width: 720px) {
  HEADER DIV.hotbar {
    width: 250px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1100px) {
  HEADER {
    top: 0;
    bottom: auto;
    width: calc(100% - 300px);
    left: 300px;
    right: 0;
    background-color: #FFF;
    border-bottom: 2px solid #F26522;
  }

  HEADER DIV.hotbar {
    margin-right: 0px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px;
    grid-template-areas: 'search notifications settings logout';
  }

  HEADER DIV.hotbar .menu-button {
    grid-area: menu;
    display: none;
  }
}

NAV {
  background-color: #252525;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: -100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

NAV.open {
  bottom: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

NAV A.logo {
  text-decoration: none;
  display: block;
  text-align: center;
}

NAV A.logo IMG {
  width: 100px;
}

NAV UL.pages {
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

NAV UL.pages LI A {
  color: #FFF;
  text-decoration: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: block;
  background-color: #1F1F1F;
}

NAV UL.pages LI A:hover {
  color: #F26522;
}

NAV UL.pages LI A I {
  width: 30px;
  text-align: center;
}

NAV UL.pages LI:nth-child(even) A {
  background-color: #363636;
}

@media screen and (min-width: 1100px) {
  NAV {
    width: 300px;
    left: 0;
    bottom: 0;
  }

  NAV.active {
    bottom: 0;
  }
}

.side-panel {
  position: fixed;
  top: 0;
  bottom: 50px;
  right: -100%;
  background-color: #252525;
  color: #FFF;
  width: 100%;
  z-index: 15;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-panel .panel-header {
  height: 50px;
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-areas: 'title back';
}

.side-panel .panel-header .close-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: back;
  color: #F26522;
  text-decoration: none;
}

.side-panel .panel-header .close-panel:hover {
  background-color: #F26522;
  color: #252525;
}

.side-panel .panel-header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: title;
  padding: 0px 10px;
}

.side-panel .panels {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.side-panel .panels DIV {
  display: none;
}

.side-panel .panels DIV.active {
  display: block;
}

.side-panel.left {
  right: 100%;
}

.side-panel.left I {
  display: none;
}

.side-panel.left I.left {
  display: block;
}

.side-panel.left .panel-header {
  grid-template-columns: 50px auto;
  grid-template-areas: 'back title';
}

.side-panel.left .panel-header .title {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.side-panel.left.active {
  right: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.side-panel.active {
  right: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

DIV.cover {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  z-index: 10;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 720px) {
  .side-panel {
    width: 50%;
  }

  .side-panel.left {
    right: 100%;
  }

  .side-panel.left.active {
    right: 50%;
  }

  DIV.cover.active {
    display: block;
  }
}

@media screen and (min-width: 1100px) {
  .side-panel {
    width: 300px;
    height: 100%;
    bottom: 0;
  }

  .side-panel.left {
    right: -100%;
  }

  .side-panel.left I {
    display: block;
  }

  .side-panel.left I.left {
    display: none;
  }

  .side-panel.left .panel-header {
    grid-template-columns: auto 50px;
    grid-template-areas: 'title back';
  }

  .side-panel.left .panel-header .title {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .side-panel.left.active {
    right: 0;
  }

  DIV.cover.active {
    display: block;
    bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

DIV.page {
  width: calc(100vw - 300px);
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  left: 300px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

DIV.message {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-areas: 'icon text remove';
  background-color: #252525;
  color: #FFF;
  z-index: 10;
  min-height: 50px;
  overflow-x: hidden;
}

DIV.message.success {
  background-color: #00BB68;
}

DIV.message:after {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: -100%;
  height: 5px;
  width: 100%;
}

DIV.message.hiding:after {
  left: 0;
  -webkit-transition: 10s;
  transition: 10s;
}

DIV.message DIV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

DIV.message .icon {
  grid-area: icon;
  font-size: 20px;
}

DIV.message .text {
  grid-area: text;
}

DIV.message .remove {
  grid-area: remove;
  cursor: pointer;
}

DIV.message .remove:hover {
  background-color: #FFF;
  color: #252525;
}

@media screen and (min-width: 1100px) {
  DIV.message {
    width: 300px;
    top: 60px;
    right: 0;
    font-size: 0.8em;
  }
}

