@import url(https://fonts.googleapis.com/css?family=Titillium+Web);/* Variables for Circle-CMS */

BODY {
  background-color: #252525;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", Arial;
  color: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
}

.login {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login .logo {
  width: 100%;
  text-align: center;
}

.login .logo IMG {
  width: 150px;
  margin: 0 auto;
}

INPUT {
  border: 2px solid #F26522;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 10px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  font-family: "Titillium Web", Arial;
  font-size: 1.05em;
}

LABEL {
  margin: 10px 5% 0px 5%;
  display: block;
}

LABEL INPUT {
  display: inline;
  width: auto;
}

.ghost-button {
  color: #F26522;
  background-color: transparent;
  font-size: 1.1em;
  padding: 10px 5px;
  cursor: pointer;
  margin: 10px auto;
}

.ghost-button:hover {
  background-color: #F26522;
  color: #FFF;
  border-color: #FFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

A {
  color: #F26522;
  text-decoration: none;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
}

A:hover {
  color: #FFF;
}

H1,
H2,
H3,
H4,
H5,
H6 {
  text-align: center;
  margin: 10px 5%;
  padding: 0px;
}

@media screen and (min-width: 800px) {
  .login {
    width: 700px;
    margin: 0 auto;
    left: 50%;
    display: grid;
    background-color: #1F1F1F;
    padding: 10px;
    grid-template-columns: auto auto;
    grid-template-areas: 'logo form';
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .login .logo {
    grid-area: logo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .login .content {
    grid-area: form;
  }

  LABEL {
    margin-left: 0;
  }

  INPUT {
    font-size: 0.9em;
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    margin-top: 0;
  }

  .ghost-button {
    font-size: 0.9em;
    width: 49%;
    display: inline-block;
  }

  A {
    width: 49%;
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .login {
    width: 500px;
  }

  .ghost-button {
    font-size: 0.9em;
    width: auto;
    display: inline-block;
    padding: 5px 20px;
  }

  A {
    width: auto;
    display: inline-block;
  }
}

